/* You can add global styles to this file, and also import other style files */
body {
  margin-right: -10px;
}
.theme-gray {
  background-color: #A1A1A1;
}

.theme-greenblue {
  background-color: #61c2d0;
}

.theme-orange {
  background-color: #F5C831;
}

.navbar { background-color: #F5C831; }
